@import url('https://fonts.googleapis.com/css?family=Bitter'); /* Bitter font */

@font-face {
    font-family: 'Museo-700';
    src:url('../fonts/museoCyrillic700/Museo-700.ttf.woff') format('woff'),
        url('../fonts/museoCyrillic700/Museo-700.ttf.svg#Museo-700') format('svg'),
        url('../fonts/museoCyrillic700/Museo-700.ttf.eot'),
        url('../fonts/museoCyrillic700/Museo-700.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  color: #323232;
  background: #F8F8F8;
  z-index: 1;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.logo {
  font-family: 'Museo-700';
}

header#header {
  position: fixed;
  width: 100%;
  color: #FFFFFF;
  z-index: 2137;
}


header#header nav .logo {
  color: #323232;
  font-size: 2em;
  position: absolute;
  left: 2em;
  top: 50%;
  transform: translate(0, -50%);
  display: none;
  opacity: 0;
  transition: all 0.3s;
}

header#header nav.active .logo {
  display: block;
  opacity: 1;
}

header#header nav {
  background: none;
  transition: all 0.5s;
}

header#header nav.active {
  background: #FFFFFF !important;
  color: #323232;
  transition: all 0.3s;
}

.burger {
  height: 1.5em;
  width: 1.5em;
  margin: 0 0.5em;
  padding: 0.5em;
  display: inline-block;
}

.burger > div {
  position: relative;
  height: 20%;
  width: 100%;
  background: #FFFFFF;
  margin: 20% 0;
  transition: all 0.3s;
}

.burger > div:first-of-type {
  margin-top: 0;
}

.burger > div:last-of-type {
  margin-bottom: 0;
}


.burger.active > div {
  width: 141%;
  background: #323232;
}

.burger.active > div:first-of-type {
  transform: rotate(45deg);
  transform-origin: 9% 22%;
  transition: all 0.3s;
}

.burger.active > div:last-of-type {
  transform: rotate(-45deg);
  transform-origin: 9% 67%;
  transition: all 0.3s;
}

.burger.active > div:nth-of-type(2) {
  opacity: 0;
}

header#header nav .dropDown {
  position: absolute;
  top: 100%;
  left: -100%;
  width: 30em;
  max-width: 100%;
  background: #FFFFFF;
  padding: 1em;
  height: calc(100vh - 100%);
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(.77,0,.18,1);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2137;
}

.blackscreen {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: none;
  opacity: 0;
  transition: all 0.2s;
  z-index: 2137;
}

.blackscreen.active {
  display: block;
  opacity: 1;
  transition: all 0.2s;
}

header#header nav .dropDown ul {
  list-style: none;
  padding: 0;
  margin: 0.8em 0;
}

header#header nav .dropDown ul li .wow {
  width: 0%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

header#header nav .dropDown ul li span {
  position: relative;
  z-index: 2138;
}

header#header nav .dropDown ul a.active li .wow {
  z-index: 2137;
  animation: wow 1s;
}

header#header nav .dropDown ul li .wow > .outer {
  width: 100%;
  padding-bottom: 100%;
  background: #EE6E73;
  border-radius: 100%;
}

header#header nav .dropDown ul li {
  overflow: hidden;
  padding: 1em;
  transition: all 0.2s;
  position: relative;
}

header#header nav .dropDown ul li:hover {
  background: #E6E6E6;
  transition: all 0.2s;
}

header#header nav .dropDown.active {
  left: 0%;
  transition: all 0.3s cubic-bezier(.77,0,.18,1);
}

header#header nav.dark .logo {
  display: block;
  opacity: 1;
  transition: all 0.3s;
}

header#header nav.dark {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

header#header nav.dark .burger > div {
  background: #323232;
}

.fullImage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 300;
}

section#s1 {
  background: #752122  url('../imgs/section1.jpg') no-repeat fixed 50% 50% / cover;
}

section#s3 {
  background: #752122  url('../imgs/section3.jpg') no-repeat fixed 50% 50% / cover;
}

.middle {
  width: 80%;
  max-width: 960px;
}

section#s1 > .middle {
  text-align: center;
}

section#s1 > .middle > p {
  font-size: 1.5em;
  font-variant: small-caps;
}

section#s1 > .middle .logo {
  font-size: 5em;
}


section #s2 {
  position: relative;
  z-index: 1;
}

body > section:nth-of-type(2n) {
  padding: 2em 0;
}

.content {
  padding: 0 1em;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product  > div {
  box-sizing: border-box;
  border: 3px solid #323232;
  min-width: 20em;
  width: 22%;
  position: relative;
  margin: 1em 0;
  background: transparent url('../imgs/stock.jpg') no-repeat scroll 50% 50% / cover;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  opacity: 0.8;
  transition: all 0.2s;
  cursor: pointer;
}

.product  > div:hover {
  opacity: 1;
}

.product  > div.active {
  border-color: #EE6E73;
  transition: all 0.2s;
}

.product  > div:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 100%;
}

.product  > div > .inner {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.product  > div > .inner > .desc {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1em;
  color: #FFFFFF;
}

.product  > div > .inner > .desc > header.title {
  position: absolute;
  bottom: 1em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

.product  > div > .inner > .desc > .about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  background: rgba(238, 110, 115, 0.9);
}

.product  > div:hover > .inner > .desc > .about {
  opacity: 1;
  transition: all 0.4s;
}

.product  > div > .inner > .desc > .about > .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;
  border-radius: 100%;
  background: #FFFFFF;
}

.product  > div > .inner > .desc > .about > .description {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, 0);
}

.product  > div > .inner > .desc > .about > .circle > .crosshair {
  width: 100%;
  height: 100%;
}

.product  > div > .inner > .desc > .about > .circle > .crosshair > div {
  width: 80%;
  height: 15%;
  background: #ee6e73;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product  > div > .inner > .desc > .about > .circle > .crosshair > div:last-of-type {
  transform: translate(-50%, -50%) rotate(90deg);
}


.content h2 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 300;
}

section >  .about {
  background: #e0e0e0;
  position: relative;
  overflow: hidden;
  transition: all 2s;
}

section > .about > section {
  display: none;
  padding: 3em 1em;
}

section > .about > section.active {
  display: block;
}

section > .about > .close {
  position: absolute;
  height: 1.25em;
  width: 1.25em;
  top: 3em;
  right: 0.5em;
}

section > .about  > .close > div {
  background: #323232;
  width: 141%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
}

section > .about  > .close > div:first-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}

section > .about  > .close > div:last-of-type {
  transform: translate(-50%, -50%) rotate(-45deg);
}

footer {
  background: #323232;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 2em;
}

footer > p {
  margin: 0;
}

@keyframes wow {
  0% {
    width: 10%;
    opacity: 0;
  }
  40% {
    opacity: 0.6
  }
  50% {
    width: 150%;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 150%;
  }
}
