.tooltip {
  position: relative;
  text-decoration: underline;
}

.tooltip > .description {
  display: none;
  opacity: 0;
  position: absolute;
  width: 500%;
  background: #F1F1F1;
  bottom: calc(100% + 10px);
  left: -200%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 75%;
  text-align: justify;
  border: 1.5px solid #C0C0C0;
  box-shadow: 1px 1px 3px #C0C0C0;
}


.tooltip > .description:after {
  width: 0;
  height: 0;
  content: '.';
  color: transparent;
  border-style: solid;
  border-width: 13.0px 7.5px 0 7.5px;
  border-color: #C0C0C0 transparent transparent transparent;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.tooltip:hover > .description {
  display: block;
  opacity: 1;
}
