
.icon-dollar:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-attention-alt:before { content: '\e803'; } /* '' */
.icon-infinity:before { content: '\e804'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-dollar-1:before { content: '\f155'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */