//main
$fontColor: #323232;
$backgroundColor: #e5e5e5;

//colors
$mainLight: #ee6e73;
$mainDark: #752122;

//table
$tableBorder: #d0d0d0;
$tableGoodBackground: #c8e6c9;
$tableGoodTriangle: #2e7d32;
$tableBadBackground: #ffcdd2;
$tableBadTriangle: #c62828;

//header
$hoverBacgrkound: #e6e6e6;

//tooltip
$tooltipBackground: #F1F1F1;
$tooltipOutline: #C0C0C0;

//product
$aboutBackground: #F8F8F8;

//other config
$blankBackground: #323232;
$backgroundedSections: 1, 3, 5;
