@import url('https://fonts.googleapis.com/css?family=Bitter');

/* Bitter font */

@font-face {
  font-family: 'Museo-700';
  src: url('../fonts/museoCyrillic700/Museo-700.ttf.woff') format("woff"), url('../fonts/museoCyrillic700/Museo-700.ttf.svg#Museo-700') format("svg"), url('../fonts/museoCyrillic700/Museo-700.ttf.eot'), url('../fonts/museoCyrillic700/Museo-700.ttf.eot?#iefix') format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
